/* main stylesheet */


:root {
    --white: #FFF;

    --gray1: #f2f2f2;
    --gray2: #e6e6e6;
    --gray3: #ccc;
    --gray4: #b3b3b3;
    --gray5: #999;
    --gray6: #808080;
    --gray7: #666;
    --gray8: #4d4d4d;
    --gray9: #333;
    --gray10: #1a1a1a;

    --black: #111;

    --pink1: #d07e91;
    --pink2: #ab5166;

    --blue1: #96bbcd;
    --blue2: #53849b;

    --green1: #72BD7D;
    --green2: #41934D;

    --font: 'latoregular', sans-serif;

	--font-light: 'latolight', sans-serif;
	--font-body: 'latoregular', sans-serif;
	--font-bold: 'latobold', sans-serif;
	--font-black: 'latoblack', sans-serif;
}


/* global variables */

body {
    background-color: var(--white);
    color: var(--gray9);
    font-family: var(--font-body);
}

h1,h2,h3,h4,h5,h6 {
	font-family: var(--font-bold);
}


.container, .container-wide, .container-full {
    margin-right: auto;
    margin-left: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container>.wrapper {
    width: 85%;
    max-width: 1200px;
}

.container-wide>.wrapper {
    width: 95%;
}

.container-full>.wrapper {
    width: 100%;
}

.d-none {
    display: none;
}

.text-italic {
	font-style: italic;
}


.skip-btn:not(:focus):not(:hover) {
    top: -100%;
    opacity: 0;
}

.skip-btn:focus {
    top: 0;
    opacity: 1;
}

.skip-btn {
    position: absolute;
    left: 0;
    z-index: 100;

    padding: 1rem;

    background-color: var(--gray3);
}


/* page section styles */

/* @@header styles */

.header-con {
    background-color: var(--gray2);
}

.header-con>.wrapper {
    padding: 1.25rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo>h2 {
    color: var(--gray9);
	font-family: var(--font-black);
    font-size: 2em;
    font-weight: 900;
}


.header__menu {
    display: grid;
    justify-items: end;
}


.header__menu>.btn {
	padding: 1rem;
    border: 1px solid transparent;
    background-color: transparent;
}

.header__menu>.btn:hover {
    background-color: var(--gray3);
}

.header__menu>.btn>i {
    display: none;
}

.header__menu>.btn>i.active {
    display: block;
}


.header__nav {
    position: absolute;
    top: -100%;
    right: 0;
    z-index: 90;
    opacity: 0;

    padding: 4rem 0;
    width: 100%;

    background-color: var(--blue1);
}

.header__nav>.nav-wrapper {
    display: grid;
    grid-row-gap: 1rem;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.nav-item {
    padding: 1rem;

    border: 4px solid var(--white);
    background-color: transparent;
    color: var(--white);
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--white);
    color: var(--gray8);
}


@media only screen and (min-width: 900px) {

    .header__menu>.btn {
        display: none;
    }

    .header__nav {
        position: static;
        opacity: 1 !important;

        padding: 0;
        width: auto;

        background-color: transparent;
    }

    .header__nav>.nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .nav-item {
        padding: 0.5rem;

        border: 2px solid transparent;
        color: var(--gray7);
        font-size: 1.125em;
    }

    .nav-item:hover {
        background-color: transparent;
        color: var(--gray9);
    }

    /*underline transition styles*/
    .nav-item:after {
        display: block;
        content: '';
        border-bottom: solid 3px var(--gray9);
        transform: scaleX(0);
        -webkit-transition: transform .14s ease-in-out;
        -moz-transition: transform .14s ease-in-out;
        -o-transition: transform .14s ease-in-out;
        transition: transform .14s ease-in-out;
    }

    .nav-item:hover:after {
        transform: scaleX(1);
    }

}



/* @@footer styles */

.footer-con {
    background-color: var(--gray10);
    color: var(--white);
}

.footer-con>.wrapper {
    padding: 2rem 0;
}


.copyright {
    padding: 1rem 0;

    background-color: var(--gray10);
    color: var(--gray4);
}



/* @@main index styles */

.main-con {
    min-height: 100%;
}

.main-con>.wrapper {
    padding: 2rem 0;

    display: flex;
	flex-wrap: wrap;
}
